{%extends 'account/main_template.html' %}
{%load static%}
{% block content%}
<!-- Overview -->
<div class="row">
   
    
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-gravity-list invoices with-icons">
            <h4>My Profile</h4>
            <ul>
                
                <li><i class="dash-icon-box ti-files"></i>
                    
                    <ul>
                        {% for p in profile%}
                        
                        <li>Name: <span>{{p.firstname}} &nbsp;{{p.lastname}}</span></li>
                        <li>Mobile contact: <span>{{p.contact_phone}}</span></li>
                        <li>Contact Address: <span>{{p.address}}</span></li>
                        {% endfor %}
                    </ul>
                    <div class="buttons-to-right">
                        <a href="#" class="button gray">Register Course</a>
                    </div>
                </li>
                
                <li><i class="dash-icon-box ti-files"></i>
                    
                    <ul>
                        {% for r in reg %}
                            <li>Course Name: <span>{{r.courses.courseTitle}}</span>
                            <li>Registered Date: <span>{{r.reg_date}}</span></li>
                            <li>Start Date: <span>{{r.courses.start_date}}</span></li>
                            <li>Duration: <span>{{r.courses.duration}}</span></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>    
                
        </div>
    </div>	
</div>
{% endblock%}