{%extends 'account/layout.html' %}
{%load static%}
{% block content%}
<section class="login-plane-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                        
                        <form method="POST">   
                            {% csrf_token %}
                            <div class="form-group">                                    
                                    <input type="text" name="username" class="form-control" placeholder="enter user name">
                                </div>
                                
                                <div class="form-group">
                                    <input  type="password" name="password" class="form-control" placeholder="********">
                                </div>
                               
                                <div class="danger">
                                    <span class="danger">{{form.errors}}</span>
                                </div>

                                <div class="form-group">
                                    <p>Don't have an account? <a href="{% url 'account/register'%}">Register Now</></p>
                                </div>

                                <div class="d-flex just-content-centre mt-3">
                                    <input type="submit" class="btn btn-login" value="Sign In">
                                </div>

                               
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
{% endblock%} 

