{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>CIT Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
<link rel="stylesheet" href="{% static 'util/plugins/css/plugins.css'%}">
  <link href="{% static 'util/css/style.css' %}" rel="stylesheet">
	<style>
		.custom-navbar {
			background: #ffffff;
			border-top: 5px solid #29ca8e;
			border-bottom: 0;
			-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
			padding: 12px 0;
			margin-bottom: 0;
			padding: 0;
		  }
		
		  .custom-navbar .navbar-brand {
			color: #454545;
			font-size: 18px;
			font-weight: bold;
			line-height: 40px;
		  }
		
		  .custom-navbar .navbar-nav.navbar-nav-first {
			margin-left: 8em;
		  }
		
		  .custom-navbar .navbar-nav.navbar-right li a {
			padding-right: 12px;
			padding-left: 12px;
		  }
		
		  .custom-navbar .navbar-nav.navbar-right li a .fa {
			background: #29ca8e;
			border-radius: 100%;
			color: #ffffff;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			display: inline-block;
			margin-right: 5px;
		  }
		
		  .custom-navbar .nav li a {
			line-height: 40px;
			color: #575757;
			padding-right: 22px;
			padding-left: 22px;
		  }
		
		  .custom-navbar .navbar-nav > li > a:hover,
		  .custom-navbar .navbar-nav > li > a:focus {
			background-color: transparent;
		  }
		
		  .custom-navbar .nav li a:hover {
			background-color: #29ca8e;
			color: #ffffff;
		  }
		
		  .custom-navbar .nav li.active > a {
			background-color: #29ca8e;
			color: #ffffff;
		  }
		
		  .custom-navbar .navbar-toggle {
			border: none;
			padding-top: 10px;
		  }
		
		  .custom-navbar .navbar-toggle {
			background-color: transparent;
		  }
		
		  .custom-navbar .navbar-toggle .icon-bar {
			background: #252525;
			border-color: transparent;
		  }
		
		
	</style>
</head>

	<body>
	<div class="Loader"></div>
	<div class="wrapper">  
			
			<!-- Start Navigation -->
        <div class="navbar custom-navbar navbar-fixed-top" role="navigation">
         <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="{%url 'index'%}" class="navbar-brand">CIT Project</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-nav-first">
                       <li><a href="{%url 'index'%}" class="smoothScroll">Home</a></li>
                       <li><a href="#about" class="smoothScroll">About</a></li>                       
                       <li><a href="#contact" class="smoothScroll">Contact</a></li>
					   <li></li>
					   <li><a href="{% url 'logout'%}" class="smoothScroll"><span>Hello!, {{request.user}}</span> &nbsp;&nbsp;log Out</a></li>
                  </ul>

                  {% comment %} <ul class="nav navbar-nav navbar-right">
                       <li><a href="#"><i class="fa fa-phone"></i> +65 2244 1100</a></li>
                  </ul> {% endcomment %}
             </div>

        </div>
      </div>		
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- General Detail Start -->
			<section class="dashboard-wrap">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Sidebar Wrap -->
						<div class="col-lg-3 col-md-4">
							<div class="side-dashboard">
								
								<div class="dashboard-avatar">
								
									<div class="dashboard-avatar-thumb">
										<img src="util/img/can-2.png" class="img-avater" alt="" />
									</div>
									
									<div class="dashboard-avatar-text">
										<h4>Shaurya Preet</h4>
										<span>Zivara Technoloty</span>
									</div>
									
								</div>
								
								<div class="dashboard-menu">
									<ul>
										<li class="active"><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
										<li><a href="{%url 'profile'%}"><i class="ti-plus"></i>Create Profile</a></li>
										<li><a href=""><i class="ti-id-badge"></i>Edit Profile</a></li>
										<li><a href="{%url 'logout'%}"><i class="ti-power-off"></i>Logout</a></li>
									</ul>
									<h4>For Candidate</h4>
									<ul>
										<li><a href="candidate-dashboard.html"><i class="ti-dashboard"></i>Candidate Dashboard</a></li>
										<li><a href="candidate-resume.html"><i class="ti-wallet"></i>My Resume</a></li>
										<li><a href="applied-jobs.html"><i class="ti-hand-point-right"></i>Applied Jobs</a></li>
										<li><a href="saved-jobs.html"><i class="ti-heart"></i>Saved Jobs</a></li>
										<li><a href="alert-jobs.html"><i class="ti-bell"></i>Alert Jobs</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Content Wrap -->
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
								<div class="dashboard-caption">
									
									<div class="dashboard-caption-header">
										<h4><i class="ti-settings"></i>Dashboard</h4>
									</div>
									
									<div class="dashboard-caption-wrap">
                    {% block content  %}
      
                    {% endblock  %}
									</div>
									
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</section>
			<!-- General Detail End -->
			
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">			
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2022 Distance Learning. CIT Project <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Signin Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							
							<div class="new-logwrap">
						
								<div class="form-group">
									<label>Username</label>
									<div class="input-with-icon">
										<input type="text" class="form-control" placeholder="Enter Your Username">
										<i class="theme-cl ti-user"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<div class="input-with-icon">
										<input type="email" class="form-control" placeholder="Enter Your Email">
										<i class="theme-cl ti-email"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Password</label>
									<div class="input-with-icon">
										<input type="password" class="form-control" placeholder="Enter Your Password">
										<i class="theme-cl ti-lock"></i>
									</div>
								</div>
								
								<div class="form-groups">
									<button type="submit" class="btn btn-primary theme-bg full-width">Register</button>
								</div>
								
								<div class="forget-account text-center">
									<a class="theme-cl" href="#">Forget Password?</a>
								</div>
								
								<div class="social-devider">
									<span class="line"></span>
									<span class="circle">Or</span>
								</div>
								
								<div class="social-login row">
									
									<div class="col-md-6">
										<a href="#" class="jb-btn-icon social-login-facebook"><i class="fa fa-facebook"></i>Facebook</a>
									</div>
									
									<div class="col-md-6">
										<a href="#" class="jb-btn-icon social-login-google"><i class="fa fa-google-plus"></i>Google</a>
									</div>
									
									<div class="col-md-6">
										<a href="#" class="jb-btn-icon social-login-twitter"><i class="fa fa-twitter"></i>Twitter</a>
									</div>
									
									<div class="col-md-6">
										<a href="#" class="jb-btn-icon social-login-linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
									</div>
									
								</div>
								
								<div class="register-account text-center">
									Don't have an account? <a class="theme-cl" href="register.html">Register</a>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>   
			<!-- End Signin Window -->
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="{% static 'util/plugins/js/jquery.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/viewportchecker.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/bootstrap.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/bootsnav.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/select2.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/wysihtml5-0.3.0.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/bootstrap-wysihtml5.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/datedropper.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/dropzone.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/loader.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/owl.carousel.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/slick.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/gmap3.min.js'%}"></script>
			<script type="text/javascript" src="{% static 'util/plugins/js/jquery.easy-autocomplete.min.js'%}"></script>
			<!-- Custom Js -->
			<script src="{% static 'util/js/custom.js' %}"></script><script type="text/javascript" src="util/plugins/js/counterup.min.js"></script>
			
			<script>
				$('#company-dob').dateDropper();
			</script>
		</div>
	</body>


</html>