{%extends 'account/formlayout.html' %}
{%load static%}
{% block content%}
<!-- Header Title Start -->
<section class="inner-header-title blank">
    <div class="container">
        <h1>Create profile</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- Header Title End -->

<!-- General Detail Start -->
<div class="detail-desc section">
    <div class="container">
        <div class="ur-detail-wrap create-kit padd-bot-0">
            <div class="row">
                <div class="detail-pic js">
                    <div class="box">
                       
                    </div>
                </div>
            </div>
        
            <div class="row bottom-mrg">
                <form method="POST" action="" class="add-feild" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.firstname}}        
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.lastname}}
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.gender}}
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.address}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.contact_phone}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            {{form.profile_pic}}
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        {{form.user}}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="submit" class="btn btn-success" value="create profile">
                    </div>
                </form>
            </div>
        
            <div class="row no-padd">
                <div class="detail pannel-footer">
                    <div class="col-md-12 col-sm-12">
                        <div class="detail-pannel-footer-btn pull-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- General Detail End -->
{% endblock %}
