{%extends 'account/layout.html' %}
{%load static%}
{% block content%}
<section class="login-plane-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create An Account</h3>
                    </div>
                    <div class="panel-body">
                        
                        <form method="POST">
                            {%csrf_token%}
                            
                                <div class="form-group">                                    
                                    {{form.username}}
                                </div>
                                <div class="form-group">
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    {{form.password1}}
                                </div>
                                <div class="form-group">
                                    {{form.password2}}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <div class="danger">
                                    <span class="danger">{{form.errors}}</span>
                                </div>
                                
                                <div class="d-flex just-content-centre mt-3">
                                    <input type="submit" class="btn btn-login" value="Sign Up">
                                </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
{% endblock%} 

